<div id="main-body" class="container">
	<div class="row">
		<div class="col-md-8">
			<div class="row">
				<div class="col-md-12 content">
					<img class="img-responsive" src="/images/openstack.png">
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1 content">
					<a href="{{postUrl data.headlines.0.slug}}"><h1 class="loud">{{ data.headlines.0.title }}</h1></a>
					<h3 class="loud sub">MichikoKatsu.com is designed to be a one-stop-shop for everything you need to start, improve, publish and market your self-published fiction book.</h3>
					<h6>by <a href="#">{{ data.headlines.0.author.name.first }}</a></h6>
				</div>
			</div>
			<div class="row">
				{{#if data.headlines.1.slug}}
				<div class="col-md-6">
					<a href="{{postUrl data.headlines.1.slug}}"><h2 class="loud">{{ data.headlines.1.title }}</h2></a>
					<h6>by <a href="#">{{ data.headlines.1.author.name.first }}</a></h6>
				</div>
				{{/if}}
				{{#if data.headlines.2.slug}}
				<div class="col-md-6">
					<a href="{{postUrl data.headlines.2.slug}}"><h2 class="loud">{{ data.headlines.2.title }}</h2></a>
					<h6>by <a href="#">{{ data.headlines.2.author.name.first }}</a></h6>
				</div>
				{{/if}}
			</div>
		</div>
		<div class="col-md-4">
			<div class="row" style="border-top: 3px solid #333; padding-top: 1em;">
				<div class="col-md-12">
				   {{# each data.posts }}
                  <a href="{{postUrl slug}}"><h3 class="loud">{{title}}</h3></a>{{#if author.name.first}}<h6>by <a href="#">{{author.name.first}}</a></h6>{{/if}}
               {{/each}}
            </div>
			</div>
		</div>
	</div>
</div>